* {
    margin: 0;
    padding: 0;
    font-family: "Reddit Sans", sans-serif;

}
/*GRID*/
.grid-container  {
    display: grid;
    grid-template-areas:
    "header header header header header"
    "menu main main main main"
    "footer footer footer footer footer";
}
/*HEADER*/
header{
    grid-area: header;
    background-color: rgba(216, 150, 8, 0.932);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nombre {
    margin-left: 16rem;
    font-size: 3.5rem;
    color: rgba(201, 4, 4, 0.781);
}
#nombre span {
    color: rgba(252, 223, 60, 0.849);
}
#buscador {
    width:  25rem ;
    height: 20px;
}
#buscar {
    border: none;
    padding: 4px;
    cursor: pointer;
    margin-right: 21px;
}
.iconos  {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
}
.fa-cart-shopping {
    cursor: pointer;
}
#login {
    border: none;
    padding: 8px;
    background-color:rgba(201, 4, 4, 0.781);
    cursor: pointer;
    color: white;
}
#register {
    border: none;
    padding: 8px;
    background-color: rgba(252, 223, 60, 0.849);
    cursor: pointer;
}
/*MENU*/
menu{
    grid-area: menu;
    width: 14rem;
    display: flex;
    flex-direction: column;
}
ul {
    height: 35%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    list-style: none;
    gap: 5px;
}
#categorias {
    margin-bottom: 5px;
}
a {
    text-decoration: none; 
    color: inherit;
    cursor: pointer;
}
li span {
    color: rgb(124, 124, 124);
}
.anuncio   {
    height: 65%;
    font-size: large;
    display: flex;
    align-items: center;
    background-image: url(../imgs/Sanji.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
}
.anuncio:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../imgs/Sanji.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*MAIN*/
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 1rem;
    height: 83vh;
    overflow-y: auto;
    width: 100%;
}
.tarjeta {
    width: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.tarjeta:hover {
    background-color: rgba(230, 230, 230, 0.548);
}
img {
    height: 30rem;
    border: black 1px solid;
}
figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
}
.precio {
    color: rgb(124, 124, 124);
}
.comprar {
    border: none;
    background-color:rgb(119, 13, 10);
    color: aliceblue;
    cursor: pointer;
    padding: 3px;
}
/*FOOTER*/
footer{
    padding-top: 4px;
    grid-area: footer;
    height: 5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(216, 150, 8, 0.932);
    color:white;
    padding-left: 1rem;
    padding-right: 3rem;
}
.social {
    display: flex;
    gap: 2rem;
    color: black;
}
.fa-facebook {
    color: rgb(36, 36, 255);
    cursor: pointer;
}
.fa-twitter {
    color: deepskyblue;
    cursor: pointer;
}
.fa-youtube {
    color: red;
    cursor: pointer;
}
.datos {
    font-size: smaller;
}
